body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding-top: 15px;
  }

#title {
    font-size: larger;
    font-weight: bold;
    color: black;
    text-shadow: 1px 1px gray;
}

#search-bar {
    padding-bottom: 10px;
}